* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lanes {
  padding: 50px 100px 50px 0;
}

.lanes__list {
  width: 100%;
  list-style: none;
}

.lanes__item {
  margin: 0 0 10px;
  width: 100%;
}

.lane {
  display: flex;
}

.lane__control {
  width: 100px;
}

.lane__control label {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.lane__box {
  flex: 1;
  border: 3px solid #ddd;
}


.box {
  background-color: #00f;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
